extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //Name
        h1 Tim Duclos

        //Title
        p.lead.text-light
          | Full Stack JavaScript Student Developer.

        //Bio
        .portfolio-bio
          p
            | I am a student in Treehouse's Full-stack Javascript development course. My degree is in Gaming and Simulation design from the Pennsylvania College of Technology in Williamsport, PA.When I am not developing something, I am constantly playing something (tabletop or digital) or reading. (Currently: The 7 1/2 Deaths of Evelyn Hardcastle, by Stuart Turton)
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //Skills
        ul
          li HTML/CSS/Javascript student
          li NodeJS/ Express experience
          li B.S in Gaming & Simulation Design, Pennsylvania College of Technology
          li 5+ years customer service experience
          li BSA Eagle Scout recipient 
          li Tester, NASA Aerospase Education Services Project
          li 4th level Kobold Lurk
          li Ask me about Loom!
		  
        h6 Contact Info

        //Contact Info
        ul
          li 555-555-1234
          li tim@fakeemail.com

        //Social Media links
        
        a.button.expanded(href='https://github.com/tduclos') GitHub
        a.button.expanded(href='https://twitter.com/TimLiterally') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  