extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //Heading
      h1 Welcome to my Portfolio!

      //Description
      p.lead.text-light
        | Here's a look at some projects I've been working on through the Treehouse Techdree!
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //Project Gallery

      
      each project in projects
        .cell
          a(href='/project/'+project.id)
            img.thumbnail(src='/static/img/' + project.image_urls + '/main.png')
            h5= project.project_name
      
      //I turned the sample code into a 'coming soon' on the off chance I return to this
      .cell
        a(href='#')
          img.thumbnail(src='https://placehold.it/550x550')
          h5 More coming soon(?)